body, html {
    height: 100%;
    background-color: #c6f4ff;
}

/* The background image */
.background-image {
    /* Use "linear-gradient" to add a darken background effect to the image (header.png). This will make the text easier to read */
    background-image: url("header.png");

    /* Set a specific height */
    height: 100%;
    width: 100%;
    padding-top: 15%;
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-size: cover;
}

h1 {
    align-content: center;
    font-family: 'Faster One', cursive;
    color:#ffccf4;
    top: 50%;
    left: 50%;
    background-color: red;
    width: 35%;
    text-align: center;
    display: inline-block;
    font-size: 50px;
}

h2 {
    align-content: center;
    font-family: 'Press Start 2P', cursive;
    color:red;
    width: 20%;
    text-align: center;
    margin-top: 5%;
    margin-left: 30%;
    display: inline-block;
    font-size: 50px;
}



nav{
    float: right;
}

nav ul {
    margin: 0;
    padding: 10px 10px;
    list-style: none;
    font-family: 'Faster One', cursive;
}

nav li {
    display: inline-block;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 0px;
    text-transform: uppercase;
    font-size: 30px;
    position: relative;
    background-color:red;
}

nav a {
    color:#ffccf4;
}
nav a:hover {
    color:yellow;
}

canvas {
    background-color: black;
    text-align: center;
    margin-top: 3%;
    margin-left: 18%;
    width: 1000px;
    height: 800px;
}


.container {
    width: 100%
    margin: 0 auto;
}






